# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
out/

# Backup & cache
*.tmp
*.cache
*.bak
*.old

# Logs
*.log

# BepInEx plugins compiled output (your mod dll)
*.dll
*.pdb

# OS Files
Thumbs.db
ehthumbs.db
.DS_Store

# Rider
.idea/
*.iml

# NuGet
packages/
